:root{
  --primary: #fff;
  --bg-color: rgb(5, 53, 61);
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #e6cfa7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --heart-color: rgb(252, 8, 231);
}

* {
  margin: 0;
  padding: 0;
}
  
body {
  background: rgb(254, 147, 140);
  background:
      -webkit-linear-gradient(top, rgb(253, 103, 103), rgba(254, 147, 140, 1.0));
      -moz-linear-gradient(top, rgba(255, 255, 255, 1.0), rgba(254, 147, 140, 1.0));
      linear-gradient(to bottom, rgba(255, 255, 255, 1.0), rgba(254, 147, 140, 1.0));
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(1000%);
    opacity: 0;
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.01);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-up {
  animation: scaleUp 500ms ease-in;
}

.slide-out-bottom {
  animation: slideOutBottom 500ms ease-out;
}

.slide-in-bottom {
  animation: slideInFromBottom 500ms ease-in-out;
}

.cake {
  position: relative;
}

.tops {
  position: relative;
  z-index: 6;
}

.cherry {
  position: absolute;
  top: -4vmin;
  left: 12vmin;
  height: 10vmin;
  width: 10vmin;
  background-color: #d2042d;
  border-radius: 50%;
}

.icing {
  position: absolute;
  top: -5vmin;
  left: 18vmin;
  height: 10vmin;
  width: 10vmin;
  background-color: #f5e6c5;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
}

.candle {
  position: absolute;
  top: -14vmin;
  left: 29vmin;
  height: 20vmin;
  width: 4vmin;
  background-color: #8e3b46;
  border-radius: 20vmin / 10vmin;
}

.candle::before {
  content: "";
  position: absolute;
  height: 2vmin;
  width: 4vmin;
  background-color: #8e3b30;
  border-radius: 20vmin / 10vmin;
}

.flame {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -7vmin;
  left: 0vmin;
  width: 4vmin;
  height: 7vmin;
  cursor: pointer;
}

.flame.hide {
  display: none;
}

.flame:nth-child(1) {
  animation: flame 2s infinite;
}

.flame:nth-child(2) {
  animation: flame 1.5s infinite;
}

.flame:nth-child(3) {
  animation: flame 1s infinite;
}

.flame:nth-child(4) {
  animation: flame 0.5s infinite;
}

.flame:nth-child(5) {
  animation: flame 0.2s infinite;
}

@keyframes flame {
  0% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1.1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    transform: translateY(-15vmin) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    transform: translateY(0) scale(1.1);
  }
}

.flat {
  position: relative;
  height: 15vmin;
  width: 50vmin;
  background-color: #9f7e5c;
  border-radius: 50%;
  z-index: 4;
}

.flat-1 {
  position: absolute;
  top: 0vmin;
  left: 1vmin;
  height: 12.8vmin;
  width: 48vmin;
  background-color: #ffd1ba;
  border-radius: 50%;
  border-bottom: 6px solid #fcbe9f;
  z-index: 5;
}

.drip {
  position: absolute;
  background-color: #8a6d4f;
  z-index: 3;
}

.drip-1 {
  top: -8vmin;
  height: 21vmin;
  width: 7vmin;
  border-bottom-right-radius: 25vmin;
  transform: skewY(-10deg);
}

.drip-2 {
  top: -3vmin;
  left: 7vmin;
  height: 12vmin;
  width: 10vmin;
  border-bottom-left-radius: 25vmin;
  border-bottom-right-radius: 25vmin;
}

.drip-3 {
  top: -2vmin;
  left: 16vmin;
  height: 9vmin;
  width: 10vmin;
  border-bottom-left-radius: 25vmin;
  border-bottom-right-radius: 25vmin;
}

.drip-4 {
  top: -2vmin;
  left: 25vmin;
  height: 13vmin;
  width: 10vmin;
  border-bottom-left-radius: 25vmin;
  border-bottom-right-radius: 25vmin;
}

.drip-5 {
  top: -3vmin;
  left: 34vmin;
  height: 12vmin;
  width: 10vmin;
  border-bottom-left-radius: 25vmin;
  border-bottom-right-radius: 25vmin;
}

.drip-6 {
  top: -7vmin;
  left: 42vmin;
  height: 18vmin;
  width: 8vmin;
  border-bottom-left-radius: 25vmin;
  border-bottom-right-radius: 25vmin;
  transform: skewY(-10deg);
}

.body {
  position: absolute;
  top: 10vmin;
  height: 34vmin;
  width: 50vmin;
  border-radius: 25vmin / 10vmin;
  background-color: #f5e6c5;
  z-index: 2; 
}

.plate {
  position: absolute;
  top: 27vmin;
  left: -7.8vmin;
  height: 21vmin;
  width: 65vmin;
  background-color: #F4F3EE;
  border-radius: 50%;
  box-shadow:
    0 6px 0 #e6e5e3,
    0 8px 0 #e6e5e3,
    0 10px 0 #e6e5e3;
  z-index: 1;
}

.honk-default {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.zoom-wiggle {
  top: 10vmin;
  position: absolute;
  animation: zoom-wiggle 1s ease-in-out;
  padding: 1vmin;
  z-index: 10;
  text-align: center;
}

.logger {
  bottom: 5vmin;
  position: absolute;
  text-align: center;
}

@keyframes zoom-wiggle {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1) rotateZ(5deg);
  }

  75% {
    transform: scale(0.9) rotateZ(-5deg);
  }
}

.envelope-container {
  display: grid;
  place-items: center;
  position: absolute;
}

.envelope-container > .envelope-wrapper {
  background: var(--bg-envelope-color);
  box-shadow: 0 0 8vmin var(--shadow-color);
}

  .envelope-wrapper > .envelope {
    position: relative;
    width: 60vmin;
    height: 46vmin;
    transition: all 0.5s ease-in-out 1s;
  }

  .envelope-wrapper > .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 26vmin solid var(--envelope-tab);
    border-right: 30vmin solid transparent;
    border-left: 30vmin solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
  }

  .envelope-wrapper > .envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 26vmin solid transparent;
    border-right: 30vmin solid var(--envelope-cover);
    border-bottom: 20vmin solid var(--envelope-cover);
    border-left: 30vmin solid var(--envelope-cover);
  }

  .envelope > .letter {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 60%;
    height: 80%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 1vmin var(--shadow-color);
    padding: 4vmin 2vmin;
  }

  .envelope > .letter > .text {
    color: var(--txt-color);
    text-align: left;
    font-size: 10px;
  }

  .heart {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3vmin;
    height: 3vmin;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 0.2vmin 1.2vmin var(--shadow-color);
    cursor: pointer;
  }

  .heart:before, 
  .heart:after {
    content: "";
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    background-color: var(--heart-color);
    border-radius: 50%;
  }

  .heart:before {
    top: -1.5vmin;
  }

  .heart:after {
    right: 1.5vmin;
  }

  .flap > .envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
  }

  .flap > .envelope > .letter {
    transform: scale(1.4);
    transition-delay: 1.5s;
  }

.flap > .heart {
  transform: rotate(90deg);
  transition-duration: 500ms;
  transition-delay: 0.4s;
}

.flap > .envelope {
  transform: translateY(1000%);
}

.caveat-family {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
